body {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  background-color: #f4e3ff;
}

* {
    box-sizing: border-box;
}

.title-container {
  justify-content: start;
  border: 3px solid #5e009c;
  color: #fff;
  background-color: #5995DA;
  height: 188px;
  display: flex
}

.title {
  margin-top: 18px;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 69px;
}

.title-and-links {
  display: flex;
justify-items: space-between; 
}

.links {
  width: 748px;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  color: #5e009c;
}

.image1 {
  margin-top: 5px;
  height: 157px;
  width: 198px;
}

.list-container {
  display: flex;
  align-items: center;
}

.image1-list-container {
  margin-top: 20px;
  display: flex;
}

h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px
}

li {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
}

p {
  font-size: larger;
  margin-left: 10px
}

.home {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: rgb(166, 208, 255);
  cursor: pointer;
}

.home-color {
  display: flex;
  color: rgb(202, 202, 202);
  width: 245px;
  background-color: rgb(112, 0, 0);
  justify-content: center;
}

.about {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: rgb(166, 208, 255);
  cursor: pointer;
}

.about-color {
  display: flex;
  color: rgb(202, 202, 202);
  width: 246px;
  background-color: rgb(112, 0, 0);
  justify-content: center;
}

.contact {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: rgb(166, 208, 255);
  cursor: pointer;
}

.contact-color {
  display: flex;
  color: rgb(202, 202, 202);
  width: 245px;
  background-color: rgb(112, 0, 0);
  justify-content: center;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}
a:active {
  color: rgb(0, 255, 242);
}